/* font google  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* color root  */
:root{
    --background-color: #222;
    --font-color: rgb(255, 255, 255);
    --button-color : #0a087a;
    --button-color-hover : #840db3;
    --total-color : #d32518; 
    --input-color : #030303;
}

/* strat body  */
*{
    margin: 0;
    padding: 0;
}
body{
    background: var(--background-color);
    color: var(--font-color);
    font-family: 'Rubik', sans-serif;
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: var(--input-color);
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: var(--font-color);
}
input:focus{
    background-color: #000;
    transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background: var(--total-color);
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content: 'Total:';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: var(--button-color-hover);
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}
button:hover{
    background: #51025f;
    letter-spacing: 1px;
}
.btnSearch{
    display: flex;
    justify-content: space-between;
}
.btnSearch button{
    width: 45%;
}
#deletAll{
    margin: 20px 0;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
